{% from "_formhelpers.html" import render_field %}
{% from "macros/auth.html" import ajaxSetup %}

<html>
    <head>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/login.css') }}">

        <meta name="csrf-token" content="{{ csrf_token() }}">

        <title>Login</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" style="margin:0">
                <div class="col m6 logo_screen"></div>
                
                <form method="POST" class="col m6 s12">

                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}

                      <p id="error_msg"></p>
                      <button type="submit" class="waves-effect waves-light btn">Acessar</button>
                      <p>Não possuí uma conta? <a href="/register">Crie agora</a></p>
                </form>
            </div>
        </div>
        
        <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>

        {{ ajaxSetup("error_msg") }}

        <script>
            $(document).ready(function(){

                $("form").on("submit", function(e){
                    e.preventDefault();
                    var formData = new FormData($(this)[0]);
                    $.ajax({
                        type: "post",
                        url: "{{ url_for('file_server.login')}}",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(result){
                            alert('ok');
                        }});
                    
                });

            });
        </script>
    </body>
</html>